<h1>URL Shortener</h1>
<p>Put in a web url and get it shortened</p>

<br><br>
<h2>Shortened URL</h2>
<div>
  <%= root_url + @url.short %>
</div><br>
<h2>Given URL</h2>
<div>
  <%= @url.original %>
</div>
